@font-face {
  font-family: "CourierPrime";
  src: local("CourierPrime"), url("./assets/fonts/courier-prime.ttf") format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: -webkit-fill-available;
}

* {
  user-select: none;
  outline: none;
  font-family: "Calibre",
    "Inter",
    "San Francisco",
    "SF Pro Text",
    -apple-system,
    system-ui,
    sans-serif;
}

div[class^="css"] {
  opacity: 0;
}