body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("./assets/fonts/open-sans.ttf") format("truetype");
}

* {
  font-family: "Calibre",
    "Inter",
    "San Francisco",
    "SF Pro Text",
    -apple-system,
    system-ui,
    sans-serif;
}