body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Calibre",
    "Inter",
    "San Francisco",
    "SF Pro Text",
    -apple-system,
    system-ui,
    sans-serif;
}